footer{
    font-size: 0.8rem;
    margin-top: $spacing*3;
    background-color: $colorBg;
    width: 100%;

    p{
        margin-bottom: $spacing/4;
    }

    .fas, .far{
        color: $colorDetail;
        font-size: 0.8rem;
        margin-right: $spacing/2;
    }

    .right-align{
        text-align: right;
    }
}

//Mobil
@media screen and (max-width: 576px){
    footer{
        .right-align{
            text-align: left;
        }
    }
}