.btn-switch{
    margin-top: $spacing/2;
    background: $colorBgWhite;
    border-radius: $radius;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-yourscore, .btn-topscore{
    padding: $spacing/4 $spacing/2;
    border-radius: $radius;
    width: 49%;
}

.btn-topscore{
    background: $colorDetail;
    border: 1px solid $colorBgWhite;
    color: $colorTextWhite;
}

.btn-yourscore{
    background: transparent;
    color: $colorTextDark;
    border: none;
}

.contentmove{
    align-items: flex-end;
    text-align: right;
    text-align: -webkit-right;
}

#yourscore{
    display: none;
}

table{
    width: 100%;
    text-align: center;

    tr{
        border-bottom: 1px solid $colorBgWhite;

        &:first-of-type{
            font-size: 1.2rem;
        }

        &:last-of-type{
            border-bottom: none;
        }

        td{
            border-right: 1px solid $colorBgWhite;
            padding: $spacing/4;
            background-color: $colorBg;

            &:first-of-type{
                color: $colorDetail;
                font-size: 1.2rem;
                font-weight: bold;
            }

            &:last-of-type{
                border-right: none;
            }
        }
    }
}

//Mobil
@media screen and (max-width: 576px){
    .desktoponly{
        display: none;
    }
}