$colorBg: #10141b;
$colorBgTransparrent: rgba(16, 20, 27, 0.7);
$colorBgWhite: #F8F8F8;

$colorTextWhite: #F8F8F8;
$colorTextDark: #10141b;

$spacing: 20px;
$radius: 20px;

$colorDetail: #DFB216;
$colorgradient: linear-gradient($colorDetail, #68541a);
